body {
    min-width: 357px;
    overflow-x: hidden;
    background-color: #212121;
}

div#jtabs-list {
    font:menu;
    color:black;
    cursor:default;
}

div.tab-cont {
    margin: 4px;
    border: 1px solid;
    border-color: #bdbdb3;
    border-radius: 8px;
    background-color: #212121; 
    color: #bdbdb3;
    cursor:pointer;
}

div.tab-cont:hover {
    background-color: #bdbdb3;
    color: darkred;
    cursor:default;
}

div.tab-cont.active {
    color: black; 
    border-color: #CAFFCC;
    background-color: #CAFFCC;
}

img {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 3px;
    
}

div.tab-title {
    padding: 2px;
    display : inline-block;
}

span.tab-remove {
    padding: 0px 4px ;
    margin: 0px 2px;
    color: blue;
    font-weight: bold;
    border : 2px;
    border-color: SeaGreen;
    border-radius: 5px;
    border-style: solid;
}

span.tab-remove:hover {
    background-color: red;
    
}

