body {
    background-color: #364F86;
    border-color: #364F86;
}

div#jtabs-list {
    cursor:default;
    width: 650px;
}

div.tab-cont {
    margin: 4px;
    border: 1px solid;
    border-radius: 8px;
    border-color: #0AA594;
    background-color: #0AA594;
    color: black;
    cursor:pointer;
    height: 28px;
    overflow: hidden;
    font-family: monaco;
    font-size: 14.5px;
    font-weight: normal;
}

div.tab-cont:hover {
    background-color: #bdbdb3;
    border-color: #bdbdb3;
    color: darkred;
    cursor:default;
}

div.tab-cont.active {
    color: black; 
    border-color: #CAFFCC;
    background-color: #CAFFCC;
}

div.tab-cont.active:hover {
    border-color: pink;
    background-color: pink;
    color: darkred;
}

img {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 3px;
    
}

div.tab-title {
    width: 550px;
    padding: 2px;
    display : inline-block;
}

span.tab-remove {
    background-color: #364F86;
    border-color: #364F86;
    border-radius: 5px;
    border-style: solid;
    padding: 0px 4px ;
    margin: 0px 2px;
    color: #0AA594;
    font-weight: bold;
    border : 2px;
    
}

span.tab-remove:hover {
    color: red;
}

